

 

    <table class="table table-bordered">
    
      <thead>
    
        <tr>
    
          <!-- <th></th> -->
    
          <th>Name</th>
    
          <th style="text-align: center">TotalExp.</th>
    
          <th style="text-align: center">Skill:</th>
    
          <th></th>
    
        </tr>
    
      </thead>
    
      <tbody>
    
        <ng-container *ngFor="let row of offers1  | paginate:{ itemsPerPage: tableSize,
    
          currentPage: page,
    
          totalItems: count}; let i = index">
    
          <tr>
    
            
    
            <!-- <td (click)="row.isExpand = !row.isExpand" style="text-align: center;">
    
              <i class="fa fa-angle-down" style="font-size:36px"></i>
    
           
    
            </td> -->
    
           
    
            <td>{{ row.candidate_name }} </td>
    
            <td style="text-align: center">{{ row.total_exp }}</td>
    
            <!-- <td style="text-align: center">{{ row.skill_master.skill_name }}</td> -->
            <td style="text-align: center">{{ row.skill }}</td>
            <td [ngClass]= "{'rowValue': selectedRowIndex === i}" (click)= "row.isExpand = !row.isExpand "(click)=" showForEdit(i)" style="text-align: center;">
    
    
    
              <i class="fa fa-angle-down" style="font-size:36px"></i>
    
              <!-- <i *ngIf="!row.isExpand" class="bi-chevron-right"></i>
    
              <i *ngIf="row.isExpand" class="bi-chevron-up"></i> -->
    
            </td>
    
          </tr>
    
    
    
          <tr *ngIf="row.isExpand" style="background-color: #f2f2f2;">
    
            <td colspan="4" style="padding-left:120px ;">
    
               <span><b>Name:</b>  &nbsp; {{row.candidate_name}}</span><br>
    
              <span><b>Number of Years:</b>  &nbsp; {{row.total_exp}}</span><br>
    
              <!-- &nbsp;&nbsp; <span><b>Number of years:</b>  &nbsp; {{row.no.of years}}</span><br> -->
    
              <!-- <span><b>Skill:</b>  &nbsp; {{row.skills}}</span><br> -->
    
             <span><b>Current Company:</b>  &nbsp; {{row.current_company}}</span><br>
    
              <span><b>Total Experience:</b>  &nbsp; {{row.total_exp}} Years</span><br>
    
    
    
              <span><b>Joining Location:</b>  &nbsp; {{row.joining_location}}</span><br>
    
              <span><b>Current Status:</b>  &nbsp; {{row.current_status}}</span><br>
    
              <span><b>Tower:</b>  &nbsp; {{row.tower}}</span><br>
    
              <span><b>Email Address:</b>  &nbsp; {{row.candidate_email}}</span><br>
    
    
    
              <span><b>Contact No:</b>  &nbsp; {{row.contact_number}}</span><br>
    
              <span><b>Salary:</b>  &nbsp; {{row.current_ctc}}</span><br>
    
              <span><b>Expected Ctc:</b>  &nbsp; {{row.expected_ctc}}</span><br>
    
              <span><b>Notice Period:</b>  &nbsp; {{row.notice_period}}</span><br>
    
              <span><b>Hike Percent:</b>  &nbsp; {{row.hike_percent}}</span><br>
    <!-- 
              <span><b>C1:</b>  &nbsp; {{row.C1}}</span><br>
    
              <span><b>C2:</b>  &nbsp; {{row.C2}}</span><br>
    
              <span><b>D1:</b>  &nbsp; {{row.D1}}</span><br>
    
              <span><b>D2:</b>  &nbsp; {{row.D2}}</span><br> -->
    
             
    
              <!-- <button type="button">Click Me!</button> -->
    
              <button type="button" class="btn btn-outline-info" href="javascript.void(0);" routerLink="/team4navbar">Read More</button>
    
            </td>
    
          </tr>
    
        </ng-container>
    
      </tbody>
    
    </table>
    
    
    
             
    
     
    
      <!-- <h2>Offers Pending for Approvals</h2>
    
      <div>
    
        <table>
    
          <tr>
    
            <th>Name</th>
    
            <th>TotalExp.</th>
    
            <th>Skill</th>
    
          </tr>
    
          <tr *ngFor="let offerp of offers | paginate:{ itemsPerPage: tableSize,
    
                currentPage: page,
    
                totalItems: count}; let i = index">
    
            <td>{{offerp.name}}</td>
    
            <td>&nbsp; &nbsp; &nbsp; &nbsp; {{offerp.totalexp}}</td>
    
            <td>{{offerp.skills}} </td>
    
           
    
          </tr>
    
    
    
        </table> -->
    
    
    
        <!-- Pagination--------->
    
    
    
        <!-- <div class="pagination">
    
    
    
          <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
    
          </pagination-controls>
    
    
    
        </div>
    
      </div> -->
    
     <div class="pagination" >
    
    
    
          <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
    
          </pagination-controls>
    
    
    
        </div>
    
    
    
    
    
     
    
    
